body{
    align-items: center;
    background: rgb(216, 216, 216);
}


.etiSup{
    background-color: rgb(17, 23, 63);
    height: 2.5rem;
    margin-top: 0.01rem;
    padding: 0.01rem;
}

.btnSup{
    height: fit-content;
    width: fit-content;
    padding: 0.01rem;
    text-decoration: none;
    display: inline;


}

.redessup{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    display: inline;
}

.EnlacebtnSup{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    text-decoration: none;
    margin-left: 3rem;
    margin-right: 3rem;
    display: inline;
}

